:root {
    --line-weight: 4px;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    position: relative;
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s cubic-bezier(0.6, 0, 0.4, 1);
}

.line-group {
    position: absolute;
    width: 100%;
    height: var(--line-weight);
    display: flex;
    justify-content: space-between;
    transform-origin: center center;
}

.segment {
    width: 33.3333%;
    height: 100%;
    background-color: #000;
}

.line-group.new {
    opacity: 0;
    transform: translateY(150px) scaleX(0.3333);
}
